* {
  scrollbar-width: thin;
  scrollbar-color: teal;
  scroll-behavior: smooth;
}
*::-webkit-scrollbar {
  width: 7px;
}
*::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
}
*::-webkit-scrollbar-thumb {
  background-color: teal;
  border-radius: 20px;
  border: transparent;
}
.Toastify__toast--error {
  background: #2e2b2b !important;
  color: #fff !important;
}
.Toastify__close-button {
  color: #fff !important;
}

.paginationBttns {
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
.paginationBttns a {
  cursor: pointer;
  border: 1px solid teal;
  padding: 10px;
  transition: all 0.5s ease;
}
.paginationBttns a:hover {
  background-color: teal;
  color: white;
}
.paginationActive a {
  background-color: teal;
  color: white;
}
.nextBttn {
  background-color: teal;
  color: white;
}
.previousBttn {
  background-color: teal;
  color: white;
}
.redPoint {
  position: fixed;
  top: 80%;
  right: -5%;
  width: 120px;
  height: 70px;
  background-color: crimson;
  border-radius: 40px;
  cursor: pointer;
  transition: all 0.5s linear;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 5px;
  z-index: 5000;
}
.redPoint:hover {
  right: -2.5%;
}
.redPoint a {
  text-decoration: none;
  color: white;
}
.redPoint p {
  font-size: 25px;
  font-weight: 700;
  color: white;
  margin-right: 15px;
}

.loader {
  width: 48px;
  height: 48px;
  border: 3px solid #ddd;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  position: absolute;
  top: calc(50% - 24px);
  left: calc(50% - 24px);
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid;
  border-color: teal transparent;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
